.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

.env

data/raw/*
!data/raw/.gitkeep
!data/raw/ja_municipality_area_with_pref_boundary.topojson
N03-180101_GML/

*.log

# Local Netlify folder
.netlify
node_modules/
